  <div class="field">
    <%= f.label 'Which block is this report for?' %><br>
    <%= f.collection_select :block_id, Block.where(:user_id => current_user.id), :id, :block_number, :prompt => false  %>
  </div>

  <div class="field">
    <%= f.label 'Which date was the observation made on?' %><br>
    <%= f.date_select :date %>
  </div>

  <div id="activity" class="field">
    <a href="#" onchange="('row').toggle(); return false;"></a>
    <%= f.label 'What activity would you like to report?' %><br>
    <%= f.select :activity, [['Make a selection', 'choose'], ['New plug', 'new'], ['Change in plug', 'change'], ['Something other than plug in tunnel', 'other'], ['Miscellaneous observation', 'other'], ['No activity', 'none']] %>
  </div>
